.rose-bullets li::marker {
  color: hsl(332, 51%, 32%);
}
.orange-bullets li::marker {
  color:hsl(14, 45%, 36%);
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th, td {
  text-align: left;
  padding: 0.75rem;
  border-bottom: 1px solid #ccc;
}


table th:nth-child(2) {
  color: hsl(14, 45%, 36%); 
  font-weight: bold;
}

.container {
  max-width: 700px;        
  margin: 2rem auto;       
  padding: 2rem;           
  background-color: #fff;  
  border-radius: 10px;     
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}

.recipe-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

body {
  background-color: #f3e5d8; 
  font-family: 'Outfit', sans-serif;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

